*.gem
*.orig

/.rspec_failures
/.rubocop-*
/Gemfile.lock

/_misc/
/coverage/
/node_modules/
/spec/dummy/db/*.sqlite3*
/spec/dummy/db/schema-dev.rb
/spec/dummy/log/
/spec/dummy/storage/
/spec/dummy/tmp/
combustion_test.sqlite
*combustion_test.sqlite*
/spec/internal/tmp/cache/
spec/internal/db/combustion_test.sqlite
spec/internal/tmp/capybara/
spec/internal/app/assets/builds/
app/assets/images/icons.svg
spec/internal/app/assets/images/trumbowyg/icons.svg
